.employee-details-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .employee-details-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .employee-details-item {
    margin-bottom: 15px;
    display: flex;
  }
  
  .employee-details-item label {
    font-weight: bold;
    min-width: 150px; /* Set a fixed width for the label */
  }
  
  .employee-details-item p {
    margin: 0;
    font-size: 16px;
  }
  
  .employee-details-item img {
    max-width: 200px;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
  }