.container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
  }
  
  .container h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .container form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .container form input[type="text"],
  .container form input[type="radio"] {
    width: calc(100% - 24px); /* Adjust width for better alignment */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding and border in width calculation */
  }
  
  .container form input[type="radio"] {
    width: auto;
    margin-right: 10px;
  }
  
  .container form button {
    width: calc(100% - 2px);
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
  }
  
  .container form button:hover {
    background-color: #0056b3;
  }